.post-img {
    border-radius: 12px;
    height: 300px;
    object-fit: cover;
}

.comments {
    border: 1px solid #ddd;
    border-radius: 12px;
}

.comments .avatar {
    width: 50px;
    height: 50px;
    background: #ccc;
}

.comments .name {
    font-weight: 600;
}

.comments p {
    font-size: 15px;
}